/* ul and li re-color */
ul {
    color: skyblue;
    font-size: large;
    text-align: center;
    font-family: sans-serif;
}
/* body re-color */
body {
    background-color: seagreen;
}
/* h1 re-color */
h1 {
    color: skyblue;
}